scripts/stepfunctions-definition.json
{
  "Comment": "DiabetesControl AI - Full Analysis Pipeline. Runs Meal, Lab, Risk, Plan, and Insights in sequence.",
  "StartAt": "AnalyzeMeal",
  "States": {
    "AnalyzeMeal": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:823164611866:function:diabetes-care-api",
      "Parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "body.$": "States.JsonToString($.mealPayload)"
      },
      "ResultPath": "$.mealResult",
      "Next": "AnalyzeLab",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "AnalyzeLab", "ResultPath": "$.mealError"}]
    },
    "AnalyzeLab": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:823164611866:function:diabetes-care-api",
      "Parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "body.$": "States.JsonToString($.labPayload)"
      },
      "ResultPath": "$.labResult",
      "Next": "PredictRisk",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "PredictRisk", "ResultPath": "$.labError"}]
    },
    "PredictRisk": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:823164611866:function:diabetes-care-api",
      "Parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "body.$": "States.JsonToString($.riskPayload)"
      },
      "ResultPath": "$.riskResult",
      "Next": "GeneratePlan",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "GeneratePlan", "ResultPath": "$.riskError"}]
    },
    "GeneratePlan": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:823164611866:function:diabetes-care-api",
      "Parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "body.$": "States.JsonToString($.planPayload)"
      },
      "ResultPath": "$.planResult",
      "Next": "GenerateInsights",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "GenerateInsights", "ResultPath": "$.planError"}]
    },
    "GenerateInsights": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:823164611866:function:diabetes-care-api",
      "Parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "body.$": "States.JsonToString($.insightsPayload)"
      },
      "ResultPath": "$.insightsResult",
      "Next": "SendNotification",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "PipelineComplete", "ResultPath": "$.insightsError"}]
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-southeast-1:823164611866:diabetes-care-reminders",
        "Message": "Your DiabetesControl AI full analysis pipeline is complete! Check the app for your personalized insights.",
        "Subject": "DiabetesControl AI - Analysis Complete"
      },
      "ResultPath": "$.notificationResult",
      "Next": "PipelineComplete",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "PipelineComplete", "ResultPath": "$.notifyError"}]
    },
    "PipelineComplete": {
      "Type": "Succeed"
    }
  }
}
